<style>
.simesyfaq[data-simesyfaq-state="expanded"] .simesyfaq__text {
color: {{config.faqQuestionOpenColor}};
}
.simesyfaqwrapper .group-name{
font-size:{{config.groupNameSize}}px;
color:{{config.groupNameColor}};
}

</style>
    <div class="simesyfaqwrapper">
        {%for group in groups%}
        {%if config.faqNameTag == 'h3'%}
        <h3 class="group-name">{{group.name}}</h3>
        {%elsif config.faqNameTag == 'strong'%}
        <strong class="group-name">{{group.name}}</strong>
        {%endif%}
        <ul id="simesyfaqgroup" class="simesyfaqlist" data-simesyfaq-style="{{config.faqStyleID}}" data-simesyfaq-type="{{config.faqBehavior}}" data-simesyfaq-icon-pos="{{config.faqIconPosition}}" data-simesyfaq-icon="{{config.faqIconSelect}}" data-simesyfaq-behavior="{{config.faqExtras}}">
        {%for faq in group.faqs%}
        {{faq.name}}
        <li>
        <div class="simesyfaq" data-simesyfaq-state="closed" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="simesyfaq__question">
        {%if config.faqIconPosition != 'off' and config.faqIconSelect != '0' %}
        <div class="simesyfaq__icon" style="height: {{config.faqIconSize}}px; width: {{config.faqIconSize}}px;">
        {%if config.faqIconSelect == '1'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-width="2" fill="none" stroke="{{config.faqIconOpenColor}}" stroke-linecap="square" stroke-miterlimit="10"><path d="M12 7v10M17 12H7"></path><circle cx="12" cy="12" r="11"></circle></g></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2"><g fill="none" stroke="{{config.faqIconCloseColor}}" stroke-linecap="round" stroke-miterlimit="10" stroke-linejoin="round"><path d="M17 12H7"></path><circle cx="12" cy="12" r="11"></circle></g></svg>
        {%elsif config.faqIconSelect == '2'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="{{config.faqIconOpenColor}}" d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm5 13h-4v4c0 .6-.4 1-1 1s-1-.4-1-1v-4H7c-.6 0-1-.4-1-1s.4-1 1-1h4V7c0-.6.4-1 1-1s1 .4 1 1v4h4c.6 0 1 .4 1 1s-.4 1-1 1z"/></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="{{config.faqIconCloseColor}}" d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zm5 13H7c-.6 0-1-.4-1-1s.4-1 1-1h10c.6 0 1 .4 1 1s-.4 1-1 1z"/></svg>
        
        {%elsif config.faqIconSelect == '3'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="{{config.faqIconOpenColor}}" d="M18 10h-4V6h-4v4H6v4h4v4h4v-4h4"/></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="{{config.faqIconCloseColor}}" d="M6 10h12v4H6z"/></svg>
        
        {%elsif config.faqIconSelect == '4'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="{{config.faqIconOpenColor}}" d="M17 11h-4V7c0-.6-.4-1-1-1s-1 .4-1 1v4H7c-.6 0-1 .4-1 1s.4 1 1 1h4v4c0 .6.4 1 1 1s1-.4 1-1v-4h4c.6 0 1-.4 1-1s-.4-1-1-1z"/></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="{{config.faqIconCloseColor}}" d="M17 11H7c-.6 0-1 .4-1 1s.4 1 1 1h10c.6 0 1-.4 1-1s-.4-1-1-1z"/></svg>
        
        {%elsif config.faqIconSelect == '5'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" stroke-width="2" viewBox="0 0 24 24"><g fill="none" stroke="{{config.faqIconOpenColor}}" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="11"/><path d="M16 10l-4 4-4-4"/></g></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" stroke-width="2" viewBox="0 0 24 24"><g fill="none" stroke="{{config.faqIconCloseColor}}" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="11"/><path d="M8 14l4-4 4 4"/></g></svg>
        
        {%elsif config.faqIconSelect == '6'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="{{config.faqIconOpenColor}}" d="M24 12c0-6.617-5.383-12-12-12S0 5.383 0 12s5.383 12 12 12 12-5.383 12-12zM6.586 10L8 8.586l4 4 4-4L17.414 10 12 15.414 6.586 10z"/></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="{{config.faqIconCloseColor}}" d="M0 12c0 6.617 5.383 12 12 12s12-5.383 12-12S18.617 0 12 0 0 5.383 0 12zm17.414 2L16 15.414l-4-4-4 4L6.586 14 12 8.586 17.414 14z"/></svg>
        
        {%elsif config.faqIconSelect == '7'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" stroke-width="2" viewBox="0 0 24 24"><path fill="none" stroke="{{config.faqIconOpenColor}}" stroke-miterlimit="10" d="M16 10l-4 4-4-4" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="{{config.faqIconCloseColor}}" d="M16 15.414l-4-4-4 4L6.586 14l4.707-4.707c.391-.391 1.023-.391 1.414 0L17.414 14 16 15.414z"/></svg>
        
        {%elsif config.faqIconSelect == '8'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" stroke-width="2" viewBox="0 0 24 24"><path fill="none" stroke="{{config.faqIconOpenColor}}" stroke-miterlimit="10" d="M2 7l10 10L22 7" stroke-linecap="round"/></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" stroke-width="2" viewBox="0 0 24 24"><path fill="none" stroke="{{config.faqIconCloseColor}}" stroke-miterlimit="10" d="M23 16L12 8 1 16" data-cap="butt"/></svg>
        
        {%elsif config.faqIconSelect == '9'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" stroke-width="2" viewBox="0 0 24 24"><g fill="none" stroke="{{config.faqIconOpenColor}}" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="11"/><path d="M8 10h8l-4 6z"/></g></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" stroke-width="2" viewBox="0 0 24 24"><g fill="none" stroke="{{config.faqIconCloseColor}}" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="11"/><path d="M16 14H8l4-6z"/></g></svg>
        
        {%elsif config.faqIconSelect == '10'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="{{config.faqIconOpenColor}}" d="M12 24c6.617 0 12-5.383 12-12S18.617 0 12 0 0 5.383 0 12s5.383 12 12 12zm0-7L7 9h10l-5 8z"/></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="{{config.faqIconCloseColor}}" d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0zm0 7l5 8H7l5-8z"/></svg>
        
        {%elsif config.faqIconSelect == '11'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" stroke-width="2" viewBox="0 0 24 24"><path fill="none" stroke="{{config.faqIconOpenColor}}" stroke-miterlimit="10" d="M7 8h10l-5 8z" stroke-linecap="round" stroke-linejoin="round"/></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" stroke-width="2" viewBox="0 0 24 24"><path fill="none" stroke="{{config.faqIconCloseColor}}" stroke-miterlimit="10" d="M7 16h10l-5-8z" stroke-linecap="round" stroke-linejoin="round"/></svg>
        
        {%elsif config.faqIconSelect == '12'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="{{config.faqIconOpenColor}}" d="M17 7H7c-.363 0-.698.197-.875.515-.176.318-.166.707.027 1.015l5 8c.183.292.503.47.848.47s.665-.178.848-.47l5-8c.193-.308.203-.697.027-1.015C17.698 7.197 17.363 7 17 7z"/></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="{{config.faqIconCloseColor}}" d="M12.848 7.47c-.366-.585-1.33-.585-1.696 0l-5 8c-.192.308-.203.697-.026 1.015S6.636 17 7 17h10c.364 0 .698-.197.875-.515s.166-.707-.026-1.015l-5.001-8z"/></svg>
        
        {%elsif config.faqIconSelect == '13'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="{{config.faqIconOpenColor}}" d="M7 12h2V9h3V7H9V4H7v3H4v2h3" /><path fill="<?php echo $hfaq_icon_opencolor; ?>" d="M15 0H1C.4 0 0 .4 0 1v14c0 .6.4 1 1 1h14c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1zm-1 14H2V2h12v12z"/></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="{{config.faqIconCloseColor}}" d="M4 7h8v2H4z" /><path fill="<?php echo $hfaq_icon_closecolor; ?>" d="M15 0H1C.4 0 0 .4 0 1v14c0 .6.4 1 1 1h14c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1zm-1 14H2V2h12v12z"/></svg>
        
        {%elsif config.faqIconSelect == '14'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="{{config.faqIconOpenColor}}" d="M15 0H1C.4 0 0 .4 0 1v14c0 .6.4 1 1 1h14c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1zm-3 9H9v3H7V9H4V7h3V4h2v3h3v2z"/></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="{{config.faqIconCloseColor}}" d="M15 0H1C.4 0 0 .4 0 1v14c0 .6.4 1 1 1h14c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1zm-3 9H4V7h8v2z"/></svg>
        
        {%elsif config.faqIconSelect == '15'%}
        <svg class="simesyfaq__iconplus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill="none" stroke="{{config.faqIconOpenColor}}" stroke-miterlimit="10"><path d="M8 4.5v7M4.5 8h7" data-cap="butt"/><path d="M14 15H2c-.552 0-1-.448-1-1V2c0-.552.448-1 1-1h12c.552 0 1 .448 1 1v12c0 .552-.448 1-1 1z" data-cap="butt"/></g></svg>
        <svg class="simesyfaq__iconminus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill="none" stroke="{{config.faqIconCloseColor}}" stroke-miterlimit="10"><path d="M4.5 8h7" data-cap="butt" /><path d="M14 15H2c-.552 0-1-.448-1-1V2c0-.552.448-1 1-1h12c.552 0 1 .448 1 1v12c0 .552-.448 1-1 1z" data-cap="butt"/></g></svg>
        
        {%endif%}
        </div>
        {%endif%}
        <span class="simesyfaq__text" itemprop="name">{{faq.question}}</span>
        </div>
        <div class="simesyfaq__answer" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div class="simesyfaq__answercontent" itemprop="text">{{faq.answer}}</div>
        </div>
        </div>
        </li>
        {%endfor%}
        
        </ul>
        {%endfor%}
</div>